---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="container animated fadeIn">
            <div class="row">
                    <a href="{{ site.url }}">
                        <img src="{{ site.url }}/assets/img/mylogo.png" class="img-circle zoombtn animated rotateIn">
                    </a>
                    <h3 class="title">
                        <a class="zoombtn" href="{{ site.url }}">
                        	<p style="font-size:1.2rem;font-weight:300">{{ site.title }}</p>
			            </a>
                    </h3>
					<h3>Completed University Project Showcases</h3>
                    <hr class="hr-line">
                    <h3 class="title">
                        <a href="{{ site.url }}">
                        	<p style="font-size:1rem;font-weight:300">Each module varied in different aspects, of which the most prominent are detailed.</p>
			            </a>
                    </h3>
                  <hr class="hr-line">
                  <h3 class="title">
				  
				   <h3>Year 1 (2017 - 2018)</h3>
                         <a class="btn zoombtn" href="{{ site.url }}/uniyears/year1/GDE">
                         <strong>Game Development Evolution</strong>  (Game Design, Issues and Mechanic Analysis/Theory, Document Creation, Idea Creation and Marketing)
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/uniyears/year1/ESD">
                         <strong>Entertainment Software Development</strong>  ("ASGE" C++, Game Conversion and Implementation, Curve Calculation and Other Mathematics)
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/uniyears/year1/3D">
                         <strong>Principles of 3D Environments</strong>  (Unity, Maya, Model/Animation Creation and Implementation, Cutscene and Mechanic Creation)
                         </a>
						 <a class="btn zoombtn" href="{{ site.url }}/uniyears/year1/AI">
                         <strong>Introduction to Artificial Intelligence</strong>  (C, AIML, AI)
                         </a>
                  
				  <h3>Year 2 (2018 - 2019)</h3>
                         <a class="btn zoombtn" href="{{ site.url }}/uniyears/year2/GLD">
                         <strong>Game Level Design</strong>  (UE4, Level Design, Mechanic Creation)
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/uniyears/year2/PAG">
                         <strong>Play and Games</strong>  (Game Design and Mechanic Analysis, Unity, AR, Feedback Based Development, Team Based, Touchscreen Development)
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/uniyears/year2/LLP">
                         <strong>Low Level Programming</strong>  ("ASGE" C++, Game Conversion and Implementation, Data Handling, Team Based)
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/uniyears/year2/GEA">
                         <strong>Game Engine Architecture</strong>  (Unity)
                         </a>
						 <a class="btn zoombtn" href="{{ site.url }}/uniyears/year2/GPP">
                         <strong>Gameplay Programming</strong>  (Mechanic Creation, Level Design, Unity, Team Based)
                         </a>
						 
				<h3>Year 3 (2019 - 2020)</h3>	 
						 <a class="btn zoombtn" href="{{ site.url }}/uniyears/year3/AT">
                         <strong>Advanced Technologies</strong>  (Basic DirectX, TensorFlow and CNNs, Dynamic Chunk Management, Unity)
                         </a>
						 <a class="btn zoombtn" href="{{ site.url }}/uniyears/year3/ATContinued">
                         <strong>Advanced Technologies - Continued</strong>  (Dynamic Chunk Management, Unity)
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/uniyears/year3/AVP">
                         <strong>Audio Visual Production</strong>  (Unity, VR, Audio Recording and Management, Team Based)
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/uniyears/year3/CGD">
                         <strong>Commercial Games Development</strong>  (Unity, Team/Cohort Based, Idea Conversion, Asset Creation, Touchscreen Development)
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/uniyears/year3/CTP">
                         <strong>Creative Technologies Project</strong>  (Unity, Perlin Noise, BSP)
                         </a>						 
					
				<h3>Masters Course (2021 - 2022)</h3>					
						 <a class="btn zoombtn" href="{{ site.url }}/uniyears/year4/GRD">
                         <strong>Games Research and Development</strong>  (Unity, Team Based, Client Project, Data Handling and Download, Documentation Creation, Mechanic Creation, Map Chunk Creation and Management)
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/uniyears/year4/CGS">
                         <strong>Commercial Games Studio</strong>  (Unity, Mechanic, UI, Particle and System Creation, Cohort Based, Level Design, IP Creation and Marketing)
                         </a>
						 <a class="btn zoombtn" href="{{ site.url }}/uniyears/year4/CTMD">
                         <strong>Creative Technologies Master Dissertation</strong> (Unity, Machine/Reinforcement Learning, Level Design)
                         </a>
						 
                         <a class="btn zoombtn" href="{{ site.url }}">
                         Back
                         </a>						 
                 </h3>
            </div>
        </div>
    </header>
    {% include scripts.html %}
</body>
</html>
